
@{
    ViewData["Title"] = "Home page";
}
<section class="jumbotron-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    DÜNYA DEĞİŞİYOR, BİZ DE ÖYLE.
                </h1>
                <p>
                    21. yüzyılın en büyük zorluğu ile karşı karşıyayız. Bu nedenle, iklimi korumak için sizi şaşırtacak teknolojilerle değişiyoruz...

                </p>
            </div>
        </div>
    </div>
</section>
<section class="jumbotron-bottom-menu d-none d-md-block">
    <div class="container menuBorder">
        <div class="row pb-4">
            <div class="col-md-12">
                <ul class="d-flex list-unstyled justify-content-around">
                    <li>
                        <a href="#" style="border-radius: 30px 0 0 30px !important;" class="color-green">
                            <i class="material-icons color-green">compost</i>
                            Anasayfa
                        </a>
                    </li>
                    <li>
                        <a href="#" class="color-green">
                            <i class="material-icons color-green">article</i>
                            Hakkımızda
                        </a>
                    </li>
                    <li>
                        <a href="#" class="color-green">
                            <i class="material-icons color-green">nature</i>
                            Proje Hakkında
                        </a>
                    </li>
                    <li>
                        <a href="#" class="color-green" style="border-radius: 0 30px 30px 0 !important;">
                            <i class="material-icons">generating_tokens</i>
                            (GDP) Tablosu
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="before-cards-info">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/ruzgar.webp" class="img-fluid" />
            </div>
            <div class="col-md-6">
                <h1 class="color-green">Lorem Ipsum!</h1>
                <p>
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="cards-home">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/gerid2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/gerid2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/gerid2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="accordion-home">
    <div class="container p-5">
        <div class="row" style=" padding: 0 10.5px">
            <div class="col-md-6">
                <h1 class="text-uppercase color-green">Merak Edebilecekleriniz</h1>
                <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</p>
            </div>
            <div class="col-md-6" style="padding:5px;">
                <div class="accordion accordion-flush w-100" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed color-green" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <i class="material-icons" style="font-size: 22px; color: green;margin-left:10px; ">help</i> &nbsp
                                Geri Dönüşüm Projesi Nedir?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed color-green" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <i class="material-icons" style="font-size: 22px; color: green;margin-left:10px; ">
                                    <span class="material-symbols-outlined">
                                        currency_bitcoin
                                    </span>
                                </i> &nbsp Geri Dönüşüm Coini (GDP) Nasıl Kazanabilirim?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed color-green" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <i class="material-icons" style="font-size: 22px; color: green;margin-left:10px; ">
                                    <span class="material-symbols-outlined">
                                        sell
                                    </span>
                                </i> &nbsp GDP'lerimi Nasıl Kullanabilirim?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="contact-home">
    <div class="container px-5 mt-5">
        <div class="row">
            <div class="col-md-6 mt-5 mt-md-0 d-flex align-items-center justify-content-center flex-column">
                <h3 class="color-green">Bizimle iletişime geçin!</h3>
                <form action="/" method="post" class="w-100">
                    <label class="mt-3">Adınız Soyadınız</label>
                    <input type="text" name="name" class="form-control" value="" />
                    <label class="mt-3">Konu</label>
                    <input type="text" name="name" class="form-control" value="" />
                    <label class="mt-3">Mesajınız</label>
                    <textarea type="text" class="form-control" rows="10" /></textarea>
                </form>
            </div>
            <div class="col-md-6 p-0 mapBorder">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3122.8222682002997!2d27.703659415652183!3d38.49174287835725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b9a791df45ce87%3A0xe32779b610d2d400!2sManisa%20Celal%20Bayar%20%C3%9Cniversitesi%2C%20Hasan%20Ferdi%20Turgutlu%20Teknoloji%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1671128900250!5m2!1str!2str" width="100%" height="70%" style="border: 0; margin-top: 100px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</section>